@import "tailwindcss";

:root {
  --background: #E8E2D5;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-days-one: var(--font-days-one);
  --font-kay-pho-du: var(--font-kay-pho-du);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}
